# CONFIGURACIÓN LOCAL
.env

# DEPENDENCIAS
/vendor/
/node_modules/

# LOGS
/storage/logs/*
*.log

# VIDEOS LOCALES DE EJERCICIOS (subidos por el administrador/instructor)
/videos/*
!/videos/.gitkeep

# ARCHIVOS TEMPORALES
*.tmp
*.temp

# SISTEMA OPERATIVO
.DS_Store
Thumbs.db


# EDITORES / IDE
.vscode/
.idea/